# Arc testnet RPC (only needed if you want to override the default in src/chains.ts)
VITE_ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network/

# CanalisExecutor / CanalisAccount addresses once deployed (see contracts/script/Deploy.s.sol)
VITE_CANALIS_EXECUTOR_ADDRESS=
VITE_CANALIS_ACCOUNT_ADDRESS=
